.page {
  margin-left: 30%;
}

.side-item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
  gap: 20px;
  height: 4rem;
  border-radius: 1rem;
  text-decoration: none;
  border: none;
  background: transparent;
}

.side-item:hover{
  background: #CACACA;
}
